server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB      
      max-request-size: 10MB

# JWT config
app:
  jwt:
    secret: ${JWT_SECRET}
    expirationMs: ${JWT_EXPIRATION_MS:86400000}

  file:
    storage-location: ./data/images
    avatar-storage: ./data/avatars
